<template>
<div>
    <Table :columns="columns1" :data="data1"></Table>
    <Table :columns="columns2" :data="data2"></Table>
</div>

</template>
<script>
    export default {
        props:['fund_list'],
        data () {
            return {
                columns1: [
                    {
                        title: '债券型基金名称',
                        key: 'name'
                    },
                    {
                        title: '基金代码',
                        key: 'main_code'
                    },
                    {
                        title: '净值起始日',
                        key: 'start_day'
                    },
                    {
                        title: '最新净值',
                        key: 'net_value'
                    },
                    {
                        title: '投资比例（%）',
                        key: 'rate'
                    }
                ],
                // data1:[],
                columns2: [
                    {
                        title: '股票型基金名称',
                        key: 'name'
                    },
                    {
                        title: '基金代码',
                        key: 'main_code'
                    },
                    {
                        title: '净值起始日',
                        key: 'start_day'
                    },
                    {
                        title: '最新净值',
                        key: 'net_value'
                    },
                    {
                        title: '投资比例（%）',
                        key: 'rate'
                    }
                ],
                // data2: [],
            }
        },
        computed:{
            data1() {
                return this.fund_list[1]
            },
            data2() {
                return this.fund_list[2]
            }
        },
        watch:{
            // fund_list(val, old) {
            //     this.data1 = val[1]
            //     this.data2 = val[2]

            // }
        }
    }
</script>