<template>
  <div>
    <Card style="width:320px" dis-hover>
        <div style="text-align:left">
            <h3>您的投资风险类型为: <span class="tipColor">{{$store.state.risk_res}}</span></h3>
            <h3>您的投资资产为：<span class="tipColor">{{$store.state.total_assets}}</span></h3>
        </div>
    </Card>
      
  </div>
</template>

<script>
// import {get_account_info} from '@/api/api'
export default {
    data() {
        return {
            userInfo:{}
        }
    },
    // created(){
    //     this.get_account_info()
    // },
    // methods:{
    //     get_account_info() {
    //         let data = {
    //             "account_id":window.localStorage.getItem('account_id')
    //         }
    //         get_account_info(data)
    //         .then(res => {
    //             if (res.code == 0) {
    //                 this.userInfo = res.data
    //             }
    //         })
    //     }
    // }
}
</script>

<style scoped>
.tipColor{
    color:#ff9900;
}
</style>