<template>
  <div class="header">
        <div class="logo">
            智能投顾
        </div>
        <menuBox></menuBox>
        <avatarBox :user='user'></avatarBox>
  </div>
</template>

<script>
import menuBox from './menu.vue';
import avatarBox from './avatar.vue';


export default {
    name:'headerBox',
    components:{ menuBox,avatarBox },
    data() {
        return {
            user:'何儒',
            name:'jk'
        }
    }

}
</script>

<style  scoped>
.header{
    display: flex;
    justify-content:space-between;
}
.logo{
    color: white;
    font-size: 2em;
}
.menu-avatar{
    display: flex;
    justify-content: space-between;
}
</style>